<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!--Inicio Cabeçalho-->
    <header>

    </header>
    <!--Fim Cabeçalho-->

    <!--Inicio Principal-->
    <main>
        <h1>Cadastro de Eventos:</h1>
        <form method="post">
            Nome: <input type="text" value="" name="nome" /> 
            Local: <input type="text" value="" name="local" /> 
            Data: <input type="date" value="" name="data" /> 
            horario: <input type="time" value="" name="horario" />

            <button type="submit">Salvar</button>
        </form>
    </main>
    <!--Fim Principal-->

    <!--Inicio Rodapé-->
    <footer>

    </footer>
    <!--Fim Rodapé-->

</body>

</html>